<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>EduData.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
    <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.Team4.server.LoginServiceImpl</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/edudata/login</url-pattern>
  </servlet-mapping>
  


</web-app>